# Preamble

In [36]:
import sys
# pandas to manipulate SQL answer set
import pandas as pd
import time,os
# for Posgresql and other RDBMS
from sqlalchemy import create_engine,event,schema,Table,Column, Integer, Float, String, MetaData, TIMESTAMP, Date, text, inspect
from sqlalchemy_utils import database_exists,create_database
from sqlalchemy.orm import sessionmaker
from sqlalchemy.schema import CreateTable

In [37]:
# change working directory path to that of the current script file
abspath = os.path.abspath("__file__")
dname = os.path.dirname(abspath)
os.chdir(dname)

# Read and clean the Data

## Open the data file

In [38]:
# Load the Excel file
data_file_path = "./data.xlsx"
excel_file = pd.ExcelFile(data_file_path)

# Get the list of sheet names
excel_file.sheet_names

['city',
 'volunteer',
 'volunteer_range',
 'skill',
 'skill_assignment',
 'interest',
 'interest_assignment',
 'beneficiary',
 'request',
 'request_skill',
 'request_location',
 'volunteer_application']

## Import excel sheets into data frames

In [39]:
DB_dict = {}

for sheet_name in excel_file.sheet_names:
    DB_dict[sheet_name] = pd.read_excel(data_file_path, sheet_name=sheet_name)

display(DB_dict)

{'city':          name   id             geolocation
 0       Rusko  704    13.4134995/45.792650
 1    Hailuoto   72   -79.132557/-40.995129
 2      Liperi  426     47.244262/80.880444
 3      Ulvila  886   18.6986795/-17.160223
 4     Tammela  834     37.935520/12.226293
 5  Rautavaara  687   66.6004235/-62.724453
 6    Myrskylä  504   45.475847/-105.227997
 7      Säkylä  783  -14.344729/-104.974555,
 'volunteer':               id  birthdate  city_id                     name  \
 0    011095-974M 1995-10-01      426       Ulla Saari-Tiainen
 1    200958-9326 1958-09-20      426           Ilona Nieminen
 2    120791-9129 1991-07-12      687                Miia Repo
 3    110166-9408 1966-01-11      886              Raili Lammi
 4    070171-961M 1971-01-07      834  Henri Ruotsalainen-Mäki
 ..           ...        ...      ...                      ...
 186  020500A905H 2000-05-02       72           Mikko Heinonen
 187  280183-963B 1983-01-28      783            Juhani Takala
 188  100104A910M 2004-01-10      886            Mari Karvinen
 189  271099-952R 1999-10-27      886           Eila Heiskanen
 190  130184-978D 1984-01-13      504      Anneli Jääskeläinen

                                             email  \
 0         ulla.saari-tiainen@dbcourse.cs.aalto.fi
 1             ilona.nieminen@dbcourse.cs.aalto.fi
 2                  miia.repo@dbcourse.cs.aalto.fi
 3                raili.lammi@dbcourse.cs.aalto.fi
 4    henri.ruotsalainen-maki@dbcourse.cs.aalto.fi
 ..                                            ...
 186           mikko.heinonen@dbcourse.cs.aalto.fi
 187            juhani.takala@dbcourse.cs.aalto.fi
 188            mari.karvinen@dbcourse.cs.aalto.fi
 189           eila.heiskanen@dbcourse.cs.aalto.fi
 190      anneli.jaaskelainen@dbcourse.cs.aalto.fi

                                  address  travel_readiness
 0                 Uskalikontie 5, Liperi               637
 1       Mannerheiminbulevardi 08, Liperi               695
 2      Yhteiskoulunpolku 513, Rautavaara              1026
 3            Nervanderinkuja 484, Ulvila              1191
 4         Castréninbulevardi 59, Tammela               187
 ..                                   ...               ...
 186          Betleheminkatu 00, Hailuoto                78
 187              Orisaarenkatu 2, Säkylä               961
 188             Laakavuorentie 0, Ulvila               262
 189                   Jännetie 5, Ulvila               962
 190  Taavetti Laitisen kuja 88, Myrskylä              1204

 [191 rows x 7 columns],
 'volunteer_range':     volunteer_id  city_id
 0    011095-974M      426
 1    011095-974M      704
 2    011095-974M       72
 3    011095-974M      504
 4    200958-9326      426
 ..           ...      ...
 451  271099-952R      704
 452  130184-978D      504
 453  130184-978D      704
 454  130184-978D       72
 455  130184-978D      834

 [456 rows x 2 columns],
 'skill':                          name  \
 0   CommunicationAndMarketing
 1            CookingAndBaking
 2           DigitalCompetence
 3                EventHosting
 4           EventOrganization
 5        FinanceAndAccounting
 6        HealthCareOrFirstAid
 7               MeetingPeople
 8              Organizational
 9         PhotographyAndVideo
 10         PublicPerformances
 11                     Rescue
 12                  TeamGuide
 13                TrainPeople

                                           description
 0   Expertly convey humanitarian messages and enga...
 1   Provide nourishment and comfort to those in ne...
 2   Utilize technology adeptly to streamline human...
 3   Skilfully coordinate and facilitate gatherings...
 4   Efficiently plan and execute events that mobil...
 5   Ensure transparent financial management and ac...
 6   Deliver essential medical assistance and first...
 7   Build meaningful connections and partnerships ...
 8   Establish and maintain efficient systems and s...
 9   Capture compelling visuals to document humanit...
 10  Engage audiences and raise awareness about hum...
 11  Swiftly respond to emergencies and provide lif...
 12  Lead and mentor teams to collaborate effective...
 13  Empower individuals and communities with the k...  ,
 'skill_assignment':      volunteer_id                 skill_name
 0     011095-974M  CommunicationAndMarketing
 1     011095-974M                TrainPeople
 2     011095-974M       HealthCareOrFirstAid
 3     011095-974M       FinanceAndAccounting
 4     011095-974M          DigitalCompetence
 ...           ...                        ...
 1209  130184-978D         PublicPerformances
 1210  130184-978D                  TeamGuide
 1211  130184-978D                     Rescue
 1212  130184-978D              MeetingPeople
 1213  130184-978D          EventOrganization

 [1214 rows x 2 columns],
 'interest':                               name
 0                 CollectDonations
 1                         FirstAid
 2                         FoodHelp
 3                    GuideAndTeach
 4                     HelpInCrisis
 5                 ImmigrantSupport
 6               OrganiseActivities
 7                 PromoteWellbeing
 8                      WorkInATeam
 9   WorkInMulticulturalEnvironment
 10                 WorkWithElderly
 11                   WorkWithYoung,
 'interest_assignment':            interest_name volunteer_id
 0               FoodHelp  011095-974M
 1          GuideAndTeach  011095-974M
 2       CollectDonations  200958-9326
 3       ImmigrantSupport  200958-9326
 4       PromoteWellbeing  200958-9326
 ...                  ...          ...
 1225    PromoteWellbeing  271099-952R
 1226    CollectDonations  130184-978D
 1227         WorkInATeam  130184-978D
 1228  OrganiseActivities  130184-978D
 1229            FirstAid  130184-978D

 [1230 rows x 2 columns],
 'beneficiary':    id              name                        address  city_id
 0   1          Hospital  Ida Ekmanin kuja 68, Myrskylä      504
 1   2         Food Bank          Ostostie 268, Tammela      834
 2   3      Elderly Care        Bengalinkatu 069, Rusko      704
 3   4      Youth Centre        Oraspolku 4, Rautavaara      687
 4   5  Homeless Shelter  Laajasalonbulevardi 97, Rusko      704
 5   6  Blood-Drive (PA)     Verkkobulevardi 655, Rusko      704
 6   7   Event First-Aid       Puuskatie 15, Rautavaara      687
 7   8       Immigration           Ormustie 8, Hailuoto       72
 8   9      Local Branch     Pyörökivenpolku 525, Rusko      704,
 'request':       id                     title  beneficiary_id  number_of_volunteers  \
 0      1       work in team needed               3                    14
 1      2    work with young needed               9                    25
 2      3    guide and teach needed               9                    31
 3      4    guide and teach needed               5                    19
 4      5  work with elderly needed               4                    23
 ..   ...                       ...             ...                   ...
 377  378    work with young needed               4                    11
 378  379  immigrant support needed               3                    28
 379  380    work with young needed               3                    18
 380  381    work with young needed               5                    20
 381  382  collect donations needed               7                    22

      priority_value          start_date            end_date  \
 0                 1 2024-07-25 22:15:00 2024-07-28 18:00:00
 1                 3 2022-05-31 04:15:00 2022-06-01 17:00:00
 2                 2 2024-07-22 22:15:00 2024-07-27 17:30:00
 3                 1 2024-09-25 02:30:00 2024-09-25 18:30:00
 4                 2 2021-03-01 01:15:00 2021-03-07 18:45:00
 ..              ...                 ...                 ...
 377               1 2021-12-29 23:30:00 2021-12-31 12:00:00
 378               1 2020-07-07 00:00:00 2020-07-07 16:00:00
 379               2 2020-07-11 23:15:00 2020-07-14 16:00:00
 380               5 2024-06-24 00:15:00 2024-06-25 16:15:00
 381               2 2024-06-08 04:00:00 2024-06-10 16:45:00

        register_by_date
 0   2024-07-18 01:00:00
 1   2022-05-17 04:00:00
 2   2024-07-12 06:00:00
 3   2024-09-17 02:59:00
 4   2021-02-15 09:30:00
 ..                  ...
 377 2021-12-27 18:59:00
 378 2020-07-05 02:00:00
 379 2020-07-03 06:00:00
 380 2024-06-19 01:30:00
 381 2024-05-31 00:30:00

 [382 rows x 8 columns],
 'request_skill':       request_id                 skill_name  min_need  value
 0              1               EventHosting         3      2
 1              1  CommunicationAndMarketing         5      2
 2              1        PhotographyAndVideo         2      1
 3              1          EventOrganization         2      2
 4              2       HealthCareOrFirstAid         1      4
 ...          ...                        ...       ...    ...
 1936         382  CommunicationAndMarketing         2      2
 1937         382                TrainPeople         3      0
 1938         382          DigitalCompetence         3      4
 1939         382          EventOrganization         3      4
 1940         382              MeetingPeople         1      1

 [1941 rows x 4 columns],
 'request_location':       request_id  city_id
 0              1      704
 1              1      504
 2              1      687
 3              1      426
 4              2      704
 ...          ...      ...
 1075         382      687
 1076         382       72
 1077         382      783
 1078         382      426
 1079         382      886

 [1080 rows x 2 columns],
 'volunteer_application':         id  request_id volunteer_id                modified  is_valid
 0        1         314  011095-974M 2024-06-20 21:23:25.618      True
 1        2         263  011095-974M 2023-06-22 13:16:35.237      True
 2        3         147  011095-974M 2024-10-23 22:54:44.452      True
 3        4         171  011095-974M 2024-10-07 07:24:50.514      True
 4        5          54  011095-974M 2023-07-06 08:54:41.767     False
 ...    ...         ...          ...                     ...       ...
 2719  2720         364  271099-952R 2024-03-09 05:10:56.388      True
 2720  2721         182  271099-952R 2021-02-19 12:54:10.608      True
 2721  2722          36  271099-952R 2024-09-03 11:59:07.942      True
 2722  2723         285  130184-978D 2021-04-19 05:53:03.640      True
 2723  2724         342  130184-978D 2021-07-07 20:40:02.382      True

 [2724 rows x 5 columns]}

### Define primary keys for the imported relations

In [40]:
PK_dict = {}

PK_dict['city']= ["id"]
PK_dict['volunteer']= ["id"]
PK_dict['volunteer_range']= ["volunteer_id", "city_id"]
PK_dict['skill']= ["name"]
PK_dict['skill_assignment']= ["volunteer_id", "skill_name"]
PK_dict['interest']= ["name"]
PK_dict['interest_assignment']= ["interest_name", "volunteer_id"]
PK_dict['beneficiary']= ["id"]
PK_dict['request']= ["id"]
PK_dict['request_skill']= ["request_id", "skill_name"]
PK_dict['request_location']= ["request_id", "city_id"]
PK_dict['volunteer_application'] = ["id"]

assert (all([key in DB_dict.keys() for key in PK_dict]) and all([key in PK_dict.keys() for key in DB_dict.keys()]) ), \
    "Every relation in the DB must have its primary keys defined!"

### Check PK datatypes in each relation:

In [41]:
for relation in DB_dict.keys():
    pk_column = DB_dict[relation][PK_dict[relation]]
    print(relation, ":", pk_column.dtypes)

city : id    int64
dtype: object
volunteer : id    object
dtype: object
volunteer_range : volunteer_id    object
city_id          int64
dtype: object
skill : name    object
dtype: object
skill_assignment : volunteer_id    object
skill_name      object
dtype: object
interest : name    object
dtype: object
interest_assignment : interest_name    object
volunteer_id     object
dtype: object
beneficiary : id    int64
dtype: object
request : id    int64
dtype: object
request_skill : request_id     int64
skill_name    object
dtype: object
request_location : request_id    int64
city_id       int64
dtype: object
volunteer_application : id    int64
dtype: object

In [42]:
# helper to convert PK list elements to a proper string format
def pk_wrap(str_list):
    if len(str_list) < 2:
        return "("+str_list[0]+")"
    else:
        return str(tuple(str_list)).replace("'", "")
    

def add_PK_constraint(engine, relation):
    
    pk_attributes = pk_wrap(PK_dict[relation])

    # add a primary key constraint
    with engine.connect() as conn:
        alter_table_sql = text(f"""
        ALTER TABLE {relation}
        ADD CONSTRAINT {relation}_pkey PRIMARY KEY {pk_attributes};
        """)
          
        try:
            print("Trying to make", pk_attributes, "attributes the PK of the", relation, "relation.")
            conn.execute(alter_table_sql) 
            conn.commit()
            print("No errors detected...")
        except Exception as e:
          print(f"Error: {e}")

In [43]:
def verify_constraints(engine, relation):
    with engine.connect() as conn:
        verify_constraints_sql = text(f"""
        SELECT 
            kcu.table_schema,
            kcu.table_name,
            tco.constraint_name,
            kcu.column_name,
            kcu.ordinal_position
        FROM 
            information_schema.table_constraints tco
        JOIN 
            information_schema.key_column_usage kcu 
            ON kcu.constraint_name = tco.constraint_name
            AND kcu.constraint_schema = tco.constraint_schema
            AND kcu.constraint_name = tco.constraint_name
        WHERE 
            tco.constraint_type = 'PRIMARY KEY' 
            AND kcu.table_name = '{relation}'
        ORDER BY 
            kcu.table_schema,
            kcu.table_name,
            kcu.ordinal_position;
        """)

        # Execute the query and fetch the results
        result = conn.execute(verify_constraints_sql)

        # Print the results
        for row in result:
            print(row)

# Create the Databse

## Connect to the DB server

In [44]:
# Define your PostgreSQL server connection details
database_name = 'group_7_2024'
username = 'group_7_2024'
password = 'SNMsELrjkpQC'
host = 'dbcourse.cs.aalto.fi'  # or your server address
port = '5432'  # default PostgreSQL port


# Create a connection URL
connection_url = f'postgresql+psycopg2://{username}:{password}@{host}:{port}/{database_name}'

try:
    # Create an engine to test the connection
    engine = create_engine(connection_url) #.replace(f'/{database_name}', '/postgres'))  # Connect to the default 'postgres' database
    with engine.connect() as conn:
        print("Connection to PostgreSQL server successful.")
except Exception as e:
    print(f"Failed to connect to the PostgreSQL server: {e}")
    exit(1)

# Check if the database already exists
if not database_exists(connection_url):
    # Create the new database
    create_database(connection_url)
    print(f"Database '{database_name}' created successfully.")
else:
    print(f"Database '{database_name}' already exists.")

Connection to PostgreSQL server successful.
Database 'group_7_2024' already exists.

## Populate the DB with data

In [27]:
for relation in DB_dict.keys():
    DB_dict[relation].to_sql(relation, engine, if_exists='replace', index=False)
    add_PK_constraint(engine, relation)

Trying to make (id) attributes the PK of the city relation.
No errors detected...
Trying to make (id) attributes the PK of the volunteer relation.
No errors detected...
Trying to make (volunteer_id, city_id) attributes the PK of the volunteer_range relation.
No errors detected...
Trying to make (name) attributes the PK of the skill relation.
No errors detected...
Trying to make (volunteer_id, skill_name) attributes the PK of the skill_assignment relation.
No errors detected...
Trying to make (name) attributes the PK of the interest relation.
No errors detected...
Trying to make (interest_name, volunteer_id) attributes the PK of the interest_assignment relation.
No errors detected...
Trying to make (id) attributes the PK of the beneficiary relation.
No errors detected...
Trying to make (id) attributes the PK of the request relation.
No errors detected...
Trying to make (request_id, skill_name) attributes the PK of the request_skill relation.
No errors detected...
Trying to make (request_id, city_id) attributes the PK of the request_location relation.
No errors detected...
Trying to make (id) attributes the PK of the volunteer_application relation.
No errors detected...

## Check the DB content

In [147]:
# Create an inspector
inspector = inspect(engine)

# Get the list of all tables
tables = inspector.get_table_names()

# Print the tables
print("Tables in the database:")
for table in tables:
    print(table)

Tables in the database:
city
volunteer
volunteer_range
skill
skill_assignment
interest
interest_assignment
beneficiary
request
request_skill
request_location
volunteer_application

## Close connection to the DB

In [14]:
# Dispose of the engine to close the connection
engine.dispose()
print("Connection to PostgreSQL server closed.")

Connection to PostgreSQL server closed.

: